.home-screen {
  position: relative;
  background-color: $background-color;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  &__content {
    padding-top: 28px;
    padding-bottom: 48px;

    @include on-tablet {
      padding-top: 36px;
      padding-bottom: 147px;
    }

    @include on-desktop {
      padding-top: 0;
      padding-bottom: 0;
      width: 362px;
      height: calc(100vh - 125px);
      max-height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    @extend %fm-poppins_w-600_fs-52_lh-120_c-FFFFFF;
  }

  &__subtitle {
    @extend %fm-opensans_w-400_fs-18_lh-150_c-FFFFFF;
    margin-top: 32px;
    margin-bottom: 72px;

    @include on-tablet {
      max-width: 362px;
      margin-top: 24px;
      margin-bottom: 56px;
    }

    @include on-desktop {
      margin-top: 32px;
      margin-bottom: 84px;
    }
  }

  &__button {
    @extend %button;
  }
}
