.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $background-color;
  z-index: 500;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    @include on-desktop {
      padding-block: 48px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
  &__logo {
    line-height: 0;
  }
  &__burger {
    @include on-desktop {
      display: none;
    }
  }

  &__center {
    display: none;
    align-items: center;
    @include on-desktop {
      display: flex;
      column-gap: 48px;
    }
  }

  &__nav {
    @include on-desktop {
      display: flex;
      column-gap: 48px;
    }
  }

  &__hire-us {
    @extend %fm-poppins_w-700_fs-13_lh-150_c-FFFFFF;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      background-color: #2060f6;
      height: 2px;
      width: 100%;
    }
  }
}
