.menu {
  height: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__top {
    display: flex;
    align-items: center;
    column-gap: 32px;
    padding-block: 20px;
    background-color: $background-color;
  }
  &__logo {
    line-height: 0;
  }
  &__burger {
    @include on-desktop {
      display: none;
    }
  }

  &__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }

  &__hire-us {
    @extend %fm-poppins_w-700_fs-13_lh-150_c-FFFFFF;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      background-color: #2060f6;
      height: 2px;
      width: 100%;
    }
  }

  &__language-switcher {
    display: inline-block; // якщо хочеш притискати до контенту
    box-sizing: border-box;
    width: 100%; // якщо хочеш щоб меню розтягувалось
  }
}
