.banner {
  background-color: #fff;

  &__container {
    padding-block: 72px;
    @include on-tablet {
      background-image: url(../images/banner/Shapes.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 1600px;
      margin: 0 auto;
      padding-block: 200px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @extend %fm-poppins_w-600_fs-52_lh-150_c-253757;
    text-align: center;
  }

  &__text {
    @extend %fm-opensans_w-600_fs-24_lh-150_c-6C788BF;
    max-width: 558px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 56px;
    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    @extend %button;
  }
}
