.testimonials {
  padding-bottom: 120px;
  &__content {
    @include page-grid;
    row-gap: 24px;
    margin-top: 48px;
    @include on-tablet {
      margin-top: 56px;
      row-gap: 30px;
    }
    @include on-desktop {
      margin-top: 85px;
      row-gap: 0;
    }
  }
  &__sub-title {
    @extend %fm-poppins_w-600_fs-13_lh-100_c-C0CDD7;
  }

  &__title {
    @extend %fm-poppins_w-600_fs-32_lh-150_c-253757;
    @include on-tablet {
      max-width: 200px;
    }
  }

  &__card {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: $radius;
    padding-block: 32px;
    padding-inline: 42px;

    @include on-desktop {
      padding-inline: 48px;
      grid-column: span 4;
    }
  }

  &__card-photo-wrapper {
    margin-bottom: 24px;
    width: 196px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include on-tablet {
      width: 250px;
    }
    @include on-desktop {
      width: 196px;
    }
  }

  &__card-photo {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 44px;
      background-color: $prime-shine-color;
      border-radius: 12px;
    }

    &::before {
      transform: rotate(-60deg);
      left: -30%;
      top: 0;
    }
    &::after {
      transform: rotate(-60deg);
      bottom: 0;
      right: -30%;
    }
  }

  &__card-image {
    position: relative;
    width: 110px;
    z-index: 2;
    aspect-ratio: 1;
    border-radius: 100%;
    @include on-tablet {
      width: 140px;
    }
    @include on-desktop {
      width: 110px;
    }
  }

  &__card-text {
    @extend %fm-opensans_w-600_fs-13_lh-150_c-6C788BF;
    margin-top: 8px;
    margin-bottom: 16px;
    text-align: center;
    max-width: 250px;

    @include on-tablet {
      margin-top: 16px;
    }

    @include on-desktop {
      margin-top: 8px;
      margin-bottom: 32px;
    }
  }

  &__card-name {
    margin-bottom: 4px;
    @extend %fm-opensans_w-600_fs-13_lh-150_c-6C788BF;
    color: $main-text-color;
  }

  &__card-profesion {
    @extend %fm-poppins_w-700_fs-13_lh-100_c-C0CDD7;
  }
}
