.footer {
  background-color: $background-color;
  padding-bottom: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include on-tablet {
      row-gap: 24px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include on-desktop {
      justify-content: left;
      column-gap: 64px;
    }
  }
}
