@import './blocks/spefic-items/icon';
@import './blocks/spefic-items/logo';
@import './blocks/header&navigation&menu/header';
@import './blocks/home_screen/home-screen';
@import './blocks/header&navigation&menu/nav';
@import './blocks/language_switcher/language-switcher';
@import './blocks/slider/slider';
@import './blocks/header&navigation&menu/menu';
@import './blocks/about_us/about-us';
@import './blocks/about_us/our-expertise';
@import './blocks/serveices/services';
@import './blocks/testimonials/testimonials';
@import './blocks/testimonials/banner';
@import './blocks/contact_us/contact-us';
@import './blocks/footer/footer';
