.about-us {
  &__content {
    @include padding-block-section-bigger;

    display: grid;
    row-gap: 24px;
    text-align: center;
    justify-content: center;
    @include on-tablet {
      row-gap: 16px;
    }
  }

  &__title {
    @extend %fm-poppins_w-600_fs-32_lh-150_c-253757;
  }

  &__text {
    @extend %fm-opensans_w-600_fs-22_lh-150_c-6C788BF;
    @include on-tablet {
      font-size: 24px;
      max-width: 716px;
    }
  }
}
