.our-expertise {
  background-color: #fff;
  border-radius: $radius;

  &__content {
    @include padding-block-section-smaller;

    display: grid;
    row-gap: 56px;
    @include on-tablet {
      row-gap: 64px;
    }
  }

  &__title {
    @extend %fm-poppins_w-600_fs-44_lh-120_c-253757;

    text-align: center;
    @include on-tablet {
      font-size: 56px;
      line-height: 150%;
    }
  }

  &__cards-content {
    @include page-grid;
    row-gap: 56px;
    @include on-tablet {
      row-gap: 72px;
    }
    @include on-desktop {
      justify-content: space-between;
    }
  }
  &__card {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__card-photo {
    width: 166px;
    aspect-ratio: 1;
    border-radius: $radius;
  }

  &__card-title {
    @extend %fm-poppins_w-600_fs-20_lh-140_c-253757;

    margin-top: 32px;
    margin-bottom: 16px;
  }
  &__card-text {
    @extend %fm-opensans_w-400_fs-14_lh-150_c-6C788B;

    max-width: 264px;
    text-align: center;
  }
}
