%button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2060f6;
  width: 100%;
  max-width: 100%;
  height: 56px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-transform: none;
  @extend %fm-poppins_w-600_fs-15_lh-100_c-FFFFFF;

  @include on-tablet {
    width: 264px;
  }

  @include hover(transform, scale(1.1));
}

%input {
  box-sizing: border-box;
  background-color: $background-color;
  height: 40px;
  border: none;
  border-bottom: 2px solid #fff;
  @extend %fm-poppins_w-600_fs-15_lh-100_c-FFFFFF;

  padding: 0 0 12px;
  outline: none;
  transition: border-color $effect-duration;

  &::placeholder {
    opacity: 0.7;
  }
  &:focus::placeholder {
    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: $prime-shine-color;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px $background-color inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
