%fm-poppins_w-700_fs-13_lh-150_c-FFFFFF {
  font-size: 13px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 150%;
  letter-spacing: 3px;
  color: #fff;
}

%fm-poppins_w-600_fs-52_lh-120_c-FFFFFF {
  font-size: 52px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 120%;
  letter-spacing: -2px;
  color: #fff;
}

%fm-poppins_w-600_fs-52_lh-150_c-253757 {
  font-size: 52px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 150%;
  letter-spacing: 0;
  color: $main-text-color;
}

%fm-poppins_w-600_fs-15_lh-100_c-FFFFFF {
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;
}

%fm-poppins_w-600_fs-32_lh-150_c-253757 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0;
  color: $main-text-color;
}

%fm-poppins_w-600_fs-44_lh-120_c-253757 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0;
  color: $main-text-color;
}
%fm-poppins_w-600_fs-20_lh-140_c-253757 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  color: $main-text-color;
}
%fm-poppins_w-600_fs-13_lh-100_c-C0CDD7 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $third-text-color;
}

%fm-poppins_w-700_fs-13_lh-100_c-C0CDD7 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $third-text-color;
}

%fm-poppins_w-700_fs-13_lh-100_c-2060F6 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $prime-shine-color;
}

//Open Sans
%fm-opensans_w-400_fs-18_lh-150_c-FFFFFF {
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

%fm-opensans_w-600_fs-22_lh-150_c-6C788BF {
  color: $second-text-color;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0;
}

%fm-opensans_w-400_fs-14_lh-150_c-6C788B {
  color: $second-text-color;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

%fm-opensans_w-600_fs-13_lh-150_c-6C788BF {
  color: $second-text-color;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0;
}

%fm-opensans_w-600_fs-24_lh-150_c-6C788BF {
  color: $second-text-color;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
}
