$phone-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$prime-color: #253757;
$prime-shine-color: #2060f6;
$main-text-color: #253757;
$second-text-color: #6c788b;
$third-text-color: #c0cdd7;
$background-color: #2c2c2c;
$effect-duration: 0.3s;
$radius: 30px;
