.services {
  @include padding-block-section-bigger;
  @include page-grid;

  row-gap: 48px;

  @include on-tablet {
    row-gap: 56px;
  }
  @include on-desktop {
    padding-top: 251px;
  }
  &__top {
    grid-column: 1/-1;
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
  &__bottom {
    grid-column: 1/-1;
    display: grid;
    gap: 30px;
    @include on-tablet {
      grid-column: span 6;

      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__sub-title {
    @extend %fm-poppins_w-600_fs-13_lh-100_c-C0CDD7;
  }
  &__title {
    @extend %fm-poppins_w-600_fs-32_lh-150_c-253757;

    margin-bottom: 24px;
    margin-top: 16px;
  }
  &__text {
    @extend %fm-opensans_w-400_fs-14_lh-150_c-6C788B;
    @include on-tablet {
      max-width: 264px;
    }
    @include on-desktop {
      max-width: 292px;
    }
  }

  &__card {
    background-color: #fff;
    padding: 32px;
    border-radius: 16px;
  }

  @include on-tablet {
    &__card:nth-child(2),
    &__card:nth-child(4) {
      transform: translateY(-50%);
    }
  }

  &__card-number {
    @extend %fm-poppins_w-700_fs-13_lh-100_c-2060F6;

    height: 20px;
    display: flex;
    align-items: center;
    background-color: #e9f0ff;
    width: fit-content;
    padding: 2px 12px;
    border-radius: 23px;
  }

  &__card-text {
    margin-top: 24px;
    margin-bottom: 32px;
    @extend %fm-opensans_w-600_fs-13_lh-150_c-6C788BF;
  }

  &__card-action {
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    column-gap: 16px;
    @extend %fm-poppins_w-600_fs-15_lh-100_c-FFFFFF;

    color: #334563;
  }

  &__card-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: $prime-shine-color;
  }
}
