.icon {
  display: block;
  width: 24px;
  aspect-ratio: 1;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--burger {
    background-image: url(../images/icons/burger.svg);
    
    // &:hover {
    //   background-image: url(../images/icons/Icon-Burger-menu-hover.svg);
    // }
  }
  &--close {
    background-image: url(../images/icons/close.svg);
  }

  &--quators {
    background-image: url(../images/icons/quators.svg);
  }
  &--arow-right-white {
    background-image: url(../images/icons/arrow-right-white.svg);
  }
  &--facebook {
    background-image: url(../images/Icons/facebook.svg);
    width: 32px;
  }
  &--instagram {
    background-image: url(../images/Icons/instagram.svg);
    width: 32px;
  }

  &--twitter {
    background-image: url(../images/icons/twitter.svg);
    width: 32px;

    // &:hover {
    //   background-image: url(../images/icons/twitter-blue.svg);
    // }
  }
}
