.contact-us {
    overflow-x:hidden ;
  background-color: $background-color;

  border-radius: $radius $radius 0 0;
  @include padding-block-section-smaller;
  @include on-desktop {
    padding-top: 180px;
    padding-bottom: 100px;
  }

  &__container {
    @include page-grid;

    row-gap: 80px;
    @include on-tablet {
      row-gap: 120px;
    }
  }

  &__side {
    grid-column: 1/-1;
    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      &--top {
        grid-column: 1/6;
      }
      &--bottom {
        grid-column: 8/-1;
      }
    }
  }

  &__title {
    @extend %fm-poppins_w-600_fs-32_lh-150_c-253757;

    color: #fff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 48px;
    @include on-tablet {
      margin-top: 56px;
    }
  }

  &__form-input {
    resize: none;
    @extend %input;
    &--invalid{
      border-bottom: 2px solid red;
    }
  }

  &__form-button {
    margin-top: 16px;
    @extend %button;
  }

  &__blocks {
    display: grid;
    row-gap: 40px;
    margin-top: 48px;
    @include on-tablet {
      margin-top: 56px;
    }
  }

  &__block-item {
    display: grid;
    row-gap: 8px;
  }

  &__block-item-text {
    @extend %fm-poppins_w-700_fs-13_lh-100_c-C0CDD7;

    color: #fff;
    opacity: 0.5;
  }

  &__block-item-data {
    @extend %fm-opensans_w-600_fs-24_lh-150_c-6C788BF;

    color: #fff;
    width: fit-content;
  }

  &__socials {
    display: flex;
    column-gap: 32px;
  }
}
